<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
   <title>
{{ page_title }}
    </title>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">

 
{{ 'style.css' | asset_url | stylesheet_tag }}
{{ content_for_header }}
   
   
 <script>
      var s = document.createElement("script");
      s.src =
        "https://s3.amazonaws.com/hippovideo-embed-widget/js/hippovideo-embed-script.js";
      window.setDigestOnStart = true;
      s.async = true;
      window.hippovideoDigest = "XWlF3d_UZVPD7T0MkY7PVQ";
      window.hvintegtype = "generic_embed";
      window.hippoWidget = {
        loadedCallbacks: [],
        isLoaded: false,
        onLoad: function (callback) {
          if (window.hippoWidget.isLoaded == true) callback();
          else window.hippoWidget.loadedCallbacks.push(callback);
        }
      };
      document.head.appendChild(s);
    </script>
 
  </head>

  <body class="gradient">
   
    <main id="MainContent">
      <div id="app">
    
      
      <br />
      
      <div id="defaultButtonContainer">
      </div>
      <div id="inlineRecordingContainer" style="display: none;">
        <div class="options-button" id="inlineWebcamRecord">Record Webcam</div>
        <div class="embedded-recorder" id="embeddedRecorder"></div>
      </div>
      <div id="customButtonContainer" style="display: none;">
      
      </div>
      <div>
        <div class="options-button" id="webcamRecord">Record Webcam</div>
        {%- comment -%} <div>Recorder events:</div>
        <div
          id="eventsContainer"
          style="
            height: 200px;
            max-width: 80%;
            overflow-y: scroll;
            border: 1px solid #ccc;
          "
        ></div>
      </div>
      <div>
        <div>Submitted video preview:</div>
        <div id="iframeContainer"></div>
      </div>
    </div> {%- endcomment -%}

      {{ content_for_layout }}
    </main>

      {{ 'index.js' | asset_url | script_tag }}
  
  </body>
</html>
